.browse-addon-window-content{
    padding-left: 0px;
    padding-right: 0px;
}

.browse-addon-window-content .addon-table-scrollbar {
    height: calc(100vh - 315px);
    overflow: auto;
}

.browse-addon-window-content .addon-table-scrollbar.mac {
    height: calc(100vh - 290px);
}

.category-window {
    height: calc(100vh - 280px);
    overflow: auto;
}

.loading {
    height: calc(100vh - 280px);
    overflow: auto;
}

.addon-window-menu {
    margin-top: 5px;
}

.addon-window-menu .form-group{
    margin-bottom: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;

}

.browse-addon-game-button {
    float: left;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

#category-dropdown {
    background-color: var(--primary);
    border-color: var(--primary);
    float: left;
}

#category-dropdown:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#category-dropdown:hover {
    background-color: var(--secondary);
    border-color : var(--secondary);
}

#category-dropdown:active {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-light);
    box-shadow: 0px 0px 4px 1px var(--secondary-light);
}

.load-more {
    padding-top: 10px;
    color: var(--secondary);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 0.8rem;
}

.load-more:focus {
    outline: none;
}

.addon-table-scrollbar{
    overflow-x: hidden;
    overflow-y: auto;
}

.addon-table-scrollbar .LoadingSpinner {
    margin-top: 5px;
    font-size: 1.2rem;
}

.browse-addon-buttons .dropdown-menu {
    color: var(--on-background);
    background-color: var(--container-light);
    border-color: var(--primary-dark);
    -webkit-box-shadow: 0px 0px 1px 1px var(--primary-dark);
    box-shadow: 0px 0px 1px 1px var(--primary-dark);
}

.browse-addon-buttons .dropdown-menu .dropdown-item {
    color: var(--on-background);
}
.browse-addon-buttons .dropdown-menu .dropdown-item:focus {
    color: var(--on-background);
    background-color: var(--primary);
}
.browse-addon-buttons .dropdown-menu .dropdown-item:hover {
    color: var(--on-primary);
    background-color: var(--primary-dark);
}
.browse-addon-buttons .dropdown-menu .dropdown-item:active {
    color: var(--on-secondary);
    background-color: var(--secondary-dark);
}

#BrowseAddonsWindow .search-filter-clear{
  color: var(--on-background);
  position: absolute;
  right: 22px;
  top: 7px;
  z-index: 50;
  cursor: pointer;
}

#BrowseAddonsWindow .search-filter-clear:focus {
  outline: none;
}

#BrowseAddonsWindow .addon-search-field,
#BrowseAddonsWindow .addon-search-field:active  {
    background-color: var(--container);
    color: var(--on-background);
    border-color: var(--primary);
}

#BrowseAddonsWindow .addon-search-field:focus {
    color: var(--on-background);
    background-color: var(--container);
    border-color: var(--primary-light);
    box-shadow: 0 0 0 1px var(--primary);
}

#BrowseAddonsWindow .addon-search-field:active {
    border: 1px solid var(--primary-light);
}


#BrowseAddonsWindow .search-filter-clear:active {
    outline: none;
    border: 1px solid var(--primary-light);
  }
  
