.GameMenuButton {
    margin-right: 5px;
    color: var(--secondary);
    background-color: var(--background);
    border: none;
}

    .GameMenuButton:hover,
    .GameMenuButton:focus:hover {
        color: var(--on-primary);
        background-color: var(--primary-dark);
        border-color: var(--primary-dark);
    }

    .GameMenuButton:focus {
        color: var(--secondary);
        background-color: var(--background);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .GameMenuButton.btn-primary:not(:disabled):not(.disabled):active {
        color: var(--on-secondary);
        background-color: var(--secondary-dark);
        border: none;
        -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-dark);
        box-shadow: 0px 0px 4px 1px var(--secondary-dark);
    }



.GameMenuButton.disabled,
.GameMenuButton.disabled:hover {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--on-background);
    background-color: var(--background);
    border: none;
}
.hidden {
    display: none;
}

.menu-button-icon {

    font-size: 0.8rem;
    margin-right:5px;
    margin-bottom: 0px;
}
