.GameMenuButton {
    margin-right: 5px;
    color: var(--on-background);
    background-color: var(--background);
    border: none;
}

.GameMenuButton:focus {
    color: var(--on-background);
    background-color: var(--background);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.GameMenuButton:hover {
    color: var(--on-secondary);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.GameMenuButton.btn-primary:not(:disabled):not(.disabled):active {
    color: var(--on-secondary);
    background-color: var(--secondary-light);
    border: none;
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-light);
    box-shadow: 0px 0px 4px 1px var(--secondary-light);
}

.GameMenuButton.disabled,
.GameMenuButton.disabled:hover {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--on-background);
    background-color: var(--background);
    border: none;
}
.hidden {
    display: none;
}

.menu-button-icon {

    font-size: 0.8rem;
    margin-right:5px;
    margin-bottom: 0px;
}
