.installed-addon-window-content {
    padding-left:0;
    padding-right: 0;
}

.installed-addon-title-column .addon-table-img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  float:left;
  overflow:hidden;
}

.game-banner.col {
    height: 100px;
    background-color: black;
    width: 100%;
    text-align: center;
}

.window-message {
    color: var(--on-background);
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
}

.no-addons-found-options{
    text-align: center;
}

#InstalledAddonsWindow .addon-table-scrollbar {
    height: calc(100vh - 315px);
    overflow: auto;
    margin-bottom: 10px;
}

#InstalledAddonsWindow .addon-table-scrollbar.mac {
    height: calc(100vh - 290px);
}

.addon-table th {
    font-size: 0.8rem;
}

.addon-table td {
    font-size: 0.7rem;
}

.no-addons-found-window .btn {
    border: none;
}

.no-addons-found-window .btn:focus {
    outline: none !important;
    box-shadow: none
}

.addon-window-menu {
    margin-top: 5px;
    margin-bottom: 5px;
}

.installed-addon-window-content .addon-window-menu .btn {
    float: left;
    padding: 5px;
}

.installed-addon-window-content .addon-window-menu .btn.backup-button {
    float: right;
}

.no-data-label{
    text-align: center;
}

.no-data-label.no-addons p{
    font-size: 1.1rem;
}

.no-addons-link{
    color: var(--secondary);
    cursor: pointer;
}

.no-addons-link:focus{
  outline:none;
}

.addon-name-section {
  display: flex;
  align-items: center;
  height: 40px;
}

.addon-name {
  color: var(--on-background);
}
.addon-name:hover {
  color: var(--secondary);
  text-decoration-color: var(--secondary);
}
.addon-name:focus{
outline: none;
}

.addon-search-field,
.addon-search-field:active,
.addon-search-field:focus {
    border: 1px solid var(--primary);
    color: var(--on-background);
    background-color: var(--container);
}

.addon-search-field.filter-field {
    float: right;
}

.addon-search-field:focus {
    outline: none;
    border: 1px solid var(--primary-light);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.backup-button.UpdateAddonButton.disabled,
.backup-button.UpdateAddonButton.disabled:hover {
    cursor: not-allowed;
    color: var(--on-primary);
    background-color: var(--primary);
    opacity: 0.5;
    border: none;
}

.backup-button.btn.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.backup-button.btn.btn-primary:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
}

.backup-button.btn.btn-primary:hover {
    color: var(--on-secondary);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.backup-button.btn.btn-primary:active {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-light);
    box-shadow: 0px 0px 4px 1px var(--secondary-light);
    outline:none;
}

.backup-button.btn.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-light);
    box-shadow: 0px 0px 4px 1px var(--secondary-light);
}

.no-backups {
    margin-left: 5px;
}

.backup-date {
    font-size: 0.7rem;
}

.backup-pending {
    margin-left:5px;
    font-size: 0.9rem;
}

#cloud-backup-details-icon {
    margin-left: -5px;
    margin-right: 3px;
    height: 20px;
    float: left;
    background-color: var(--background);
    border-radius: 50%;
    padding: 2px;
}


.cloud-backup-hostname{
    font-size: 0.8rem;
    float: left;
}

.backup-date.cloud {
    float: left;
    clear: both;
}

#InstalledAddonsWindow .search-filter-clear{
  color: var(--on-primary);
  position: absolute;
  right: 22px;
  top: 7px;
  z-index: 50;
  cursor: pointer;
}

#InstalledAddonsWindow .search-filter-clear:focus {
  outline: none;
}
