/*
.addon-version-table table {
 width: 100%;
}

.addon-version-table th {
    font-size: 0.8rem;
    color: var(--on-background);
}

.addon-version-table td {
    font-size: 0.8rem;
    color: var(--on-background);
}
*/
.addon-details-section .UpdateAddonButton.disabled,
.addon-details-section .UpdateAddonButton.disabled:hover {
    cursor: not-allowed;
    color: var(--on-background);
    background-color: var(--container);
    border: none;
}
