.GameWindowMenu {
    height: 50px;
    margin-top:5px;
}

#game-version-select-dropdown {
    background-color: var(--primary);
    border-color: var(--primary);
    float: right;
}

#game-version-select-dropdown:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#game-version-select-dropdown:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

#game-version-select-dropdown:active {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-light);
    box-shadow: 0px 0px 4px 1px var(--secondary-light);
}

.game-settings .dropdown-menu {
  max-height: 230px;
    color: var(--on-background);
    background-color: var(--container-light);
    border-color: var(--primary-dark);
    -webkit-box-shadow: 0px 0px 1px 1px var(--primary-dark);
    box-shadow: 0px 0px 1px 1px var(--primary-dark);
}

.game-settings .dropdown-menu .dropdown-item {
    color: var(--on-background);
}

.game-settings .dropdown-menu .dropdown-item:focus {
    color: var(--on-background);
    background-color: var(--container);
}

.game-settings .dropdown-menu .dropdown-item:hover {
    color: var(--on-primary);
    background-color: var(--primary-dark);
}

.game-settings .dropdown-menu .dropdown-item:active {
    color: var(--on-secondary);
    background-color: var(--secondary-dark);
}

.window-menu-selector .nav-tabs {
    border: none;
}

.window-menu-selector .nav-tabs .nav-item {
    color: var(--on-background);
    font-weight:bold;
    border: none;
    font-size: 1.05rem;
}

.window-menu-selector .nav-tabs .nav-item:hover {
    color: var(--secondary);
}

.window-menu-selector .nav-tabs .nav-item:active {
    outline: none;
    color: var(--secondary-light);
}

.window-menu-selector .nav-tabs .nav-item.active {
    background-color: var(--background);
    color: var(--secondary);
    border-bottom: 3px solid var(--secondary);
}