
.AddonSyncToggle {
    margin-left: 0;
    width: fit-content;
    float: left;
}

.AddonSyncToggle .settings-switch {
    float:left;
    margin-top:7px;
    transform: scale(0.8, 0.8)
}
.addon-sync-toggle-label{
    color: var(--text-color);
    float: left;
    margin-top:5px;
    margin-left: 0px;
    font-size: 0.9rem;
}

.addon-sync-toggle-label.disabled {
    opacity: 0.65;
}

.sync-pending-spinner{
    float: left;
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-top: 5px;
}

.sync-status-icon{
    color: var(--text-color);
    font-size: 0.8rem;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}

.sync-status-icon .sync-error {
    color: red;
}

.sync-status-icon .sync-success {
    color: var(--success-green);
}