.SyncConfirmDialog {
    color: var(--text-color);
    position: absolute;
    top: 35px;
    left: 130px;
    height: 130px;
    width: 300px;
    z-index: 999;
    border: 1px solid #ED8323;
    border-radius: 5px;
    background-color: var(--dialog-background-color);
    padding: 0 5px;
    box-shadow: 0px 0px 5px 2px var(--primary-color);
}

.up-notch {
    position: absolute;
    top: -15px;
    left: 190px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ED8323;
}

.sync-confirmation-dialog-title {
    text-align: center;
    margin-top: -5px;
}

    .sync-confirmation-dialog-title h2 {
        font-weight: bold;
    }

.sync-confirmation-dialog-message{
    text-align: center;
    padding: 5px;
}

.sync-confirmation-dialog-options {
    width: fit-content;
    margin-left: 60px;;
}

.sync-confirmation-dialog-button {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    border: none;
}

    .sync-confirmation-dialog-button.UpdateAddonButton.disabled,
    .sync-confirmation-dialog-button.UpdateAddonButton.disabled:hover {
        cursor: not-allowed;
        color: #E6E8E6;
        background-color: #ED8323aa;
        border: none;
    }

.option-tooltip {
    margin-top: 6px;
    margin-left: 7px;
    font-size: 0.8rem;
}

.sync-confirmation-dialog-exit .menubar-btn {
    color: var(--text-color);
    background-color: var(--dialog-background-color);
}
