.SmallSidebar {
    background-color: var(--secondary);
    float: left;
    position: static;
    height: 100%;
    max-width: 50px;
    padding: 5px;
}

.SmallSidebar .sidebar-title {
    color: var(--on-primary);
    font-size: 0.77rem;
    text-align: center;
    border-bottom: 2px solid var(--on-primary);
}
