.addon-info-small {
    font-size: 0.8rem;
}
.addon-info-bold {
    font-weight: bold;
}
.addon-info-pad-left {
    padding-left: 10px;
}

.addon-info {
  margin-left:-25px;
    color: var(--text-color);
}

.addon-info-row .addon-icon {
  max-width: fit-content;
}

.addon-details-icon {
    max-width: 150px;
    max-height: 100px;
}

.addon-details-top-menu {
    padding-top: 3px;
    padding-bottom: 3px;
}

.addon-details-menu{
    margin-top:3px;
}

.addon-details-menu .GameMenuButton,
.addon-details-menu .GameMenuButton {
    color: var(--text-color)
}

.addon-details-menu .GameMenuButton.active-tab,
.addon-details-menu .GameMenuButton:focus {
    color: var(--singularity-orange);
    padding-bottom: 3px;
    border-bottom: 3px solid var(--singularity-orange);
    border-radius: unset
}

.addon-details-menu .GameMenuButton.active-tab:hover,
.addon-details-menu .GameMenuButton:hover {
    color: var(--singularity-orange);
    background-color: #00000000;
}

.addon-details-window {
    height: calc(100vh - 210px);
    width: 100%;
    overflow: auto;
}

.addon-details-window .simplebar-scrollbar {
    background-color: #8f8f8f;
    width: 8px;
    border-radius: 5px
}

.addon-details-section {
    margin-top:10px;
    padding-right: 5px;
    color: var(--text-color);
}

.addon-info-install-btn .uninstall-button {
    margin-left: 15px;
}

.addon-info-install-btn .UpdateAddonButton.disabled,
.addon-info-install-btn .UpdateAddonButton.disabled:hover {
    cursor: not-allowed;
    color: var(--text-color);
    background-color: #00000000;
    border: none;
}


.addon-page-link {
    margin-right: 5px;
    color: var(--text-color);
    background-color: #e6e8e600;
    border: none;
}

.addon-page-link a {
    color: var(--text-color);
}

.addon-page-link:hover,
.addon-page-link:focus:hover,
.addon-page-link:hover a {
    color: var(--singularity-orange);
    background-color: #00000000;
    text-decoration: none;
}

.addon-details-menu .addon-page-link.active-tab:hover,
.addon-details-menu .addon-page-link:hover {
    color: var(--singularity-orange);
    background-color: #00000000;
}

.addon-page-link:focus,
.addon-page-link:focus a,
.addon-page-link a:focus {
    background-color: #00000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon-page-link.btn-primary:not(:disabled):not(.disabled):active,
.addon-page-link.btn-primary:not(:disabled):not(.disabled):active a
 {
    color: white;
    background-color: var(--secondary-color);
    border: none;
    -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-box-shadow-color);
    box-shadow: 0px 0px 4px 1px var(--secondary-box-shadow-color);
}

.addon-details-menu .addon-page-link,
.addon-details-menu .addon-page-link {
    color: var(--text-color)
}

.addon-details-menu .addon-page-link.active-tab,
.addon-details-menu .addon-page-link:focus {
    color: var(--singularity-orange);
    background-color: #00000000;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--singularity-orange);
    border-radius: unset
}

.addon-details-menu .addon-page-link.active-tab:hover,
.addon-details-menu .addon-page-link:hover {
    color: var(--singularity-orange);
    background-color: #00000000;
}

.addon-page-link-icon{
    margin-left: 5px;
}

