.addon-info-small {
    font-size: 0.8rem;
}
.addon-info-bold {
    font-weight: bold;
}
.addon-info-pad-left {
    padding-left: 10px;
}

.addon-info {
  margin-left:-25px;
    color: var(--on-background);
}

.addon-info-row .addon-icon {
  max-width: fit-content;
}

.addon-details-icon {
    max-width: 150px;
    max-height: 100px;
}

.addon-details-top-menu {
    padding-top: 3px;
    padding-bottom: 3px;
}

.addon-details-menu{
    margin-top:3px;
}

.addon-details-menu .GameMenuButton {
    color: var(--on-background);
    padding-bottom: 3px;
}

.addon-details-menu .GameMenuButton.active-tab,
.addon-details-menu .GameMenuButton.active-tab:focus,
.addon-details-menu .GameMenuButton.active-tab:active,
.addon-details-menu .GameMenuButton.active-tab:hover {
    color: var(--secondary);
    border-bottom: 3px solid var(--secondary);
    border-radius: unset;
}

.addon-details-menu .GameMenuButton:focus {
    color: var(--on-background);
    border: none;
}

.addon-details-menu .GameMenuButton:hover {
    color: var(--secondary);
    background-color: var(--background);
    border:none;
}

.addon-details-menu .GameMenuButton.btn-primary:not(:disabled):not(.disabled):active {
    color: var(--secondary-light);
    background-color: var(--background);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon-details-window {
    height: calc(100vh - 250px);
    width: 100%;
    overflow: auto;
}

.addon-details-window .simplebar-scrollbar {
    background-color: var(--primary);
    width: 8px;
    border-radius: 5px
}

.addon-details-section {
    margin-top:10px;
    padding-right: 5px;
    color: var(--on-background);
}

.addon-info-install-btn .uninstall-button {
    margin-left: 15px;
}

.addon-info-install-btn .UpdateAddonButton.disabled,
.addon-info-install-btn .UpdateAddonButton.disabled:hover {
    cursor: not-allowed;
    color: var(--on-background);
    background-color: var(--background);
    opacity: 0.5;
    border: none;
}


.addon-page-link {
    margin-right: 5px;
    color: var(--on-background);
    background-color: var(--background);
    border: none;
}

.addon-page-link a {
    color: var(--text-color);
}

.addon-page-link:hover,
.addon-page-link:focus:hover,
.addon-page-link:hover a {
    color: var(--secondary);
    background-color: var(--background);
    text-decoration: none;
}

.addon-details-menu .addon-page-link.active-tab:hover,
.addon-details-menu .addon-page-link:hover {
    color: var(--secondary);
    background-color: var(--background);
}

.addon-page-link:focus,
.addon-page-link:focus a,
.addon-page-link a:focus {
    background-color: var(--background);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon-page-link.btn-primary:not(:disabled):not(.disabled):active,
.addon-page-link.btn-primary:not(:disabled):not(.disabled):active a
 {
    color: var(--on-background);
    background-color: var(--background);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addon-details-menu .addon-page-link,
.addon-details-menu .addon-page-link {
    color: var(--on-background)
}

.addon-details-menu .addon-page-link.active-tab,
.addon-details-menu .addon-page-link:focus {
    color: var(--secondary);
    background-color: #00000000;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--secondary);
    border-radius: unset
}

.addon-details-menu .addon-page-link.active-tab:hover,
.addon-details-menu .addon-page-link:hover {
    color: var(--secondary);
    background-color: var(--background);
}

.addon-details-menu .addon-page-link.active-tab:active,
.addon-details-menu .addon-page-link:active,
.addon-details-menu .addon-page-link.active-tab a:active,
.addon-details-menu .addon-page-link a:active
 {
    color: var(--secondary-light);
    background-color: var(--background);
}

.addon-page-link-icon{
    margin-left: 5px;
}

