
#AddonTable .table-bordered,
#AddonTable .table-bordered table,
#AddonTable .table-bordered thead,
#AddonTable .table-bordered tr,
#AddonTable .table-bordered th,
#AddonTable .table-bordered td {
    border: none;
    padding: 0.5rem;
}

#AddonTable .table-bordered {
  margin-bottom: 0;
}

#AddonTable th {
  font-size: 0.8rem;
}

#AddonTable td {
  font-size: 0.75rem;
}

#AddonTable .table-bordered tr.addon-table-header {
  color: white;
  background-color: var(--primary);
}

#AddonTable .table-bordered tr.addon-table-header th:focus {
  outline: none;
  background-color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#AddonTable .table-bordered tr.addon-table-header th.sortable {
  cursor: pointer;
}

#AddonTable .table-bordered tr.selected-addon-row,
#AddonTable .table-bordered tr.selected-addon-row td{
  background-color: var(--primary-dark);
}

#AddonTable tr.selected-addon-row .addon-name {
  color: var(--on-primary);
}

#AddonTable table.table-bordered {
  border-collapse: separate;
  border-spacing: 0;
}

#AddonTable .table-bordered tr,
#AddonTable .table-bordered td {
  color: var(--on-background);
  background-color: var(--container);
}

#AddonTable table.table-bordered thead tr th {
  border-top: 1px solid var(--primary-light);
}

#AddonTable thead tr:first-child th:first-child {
  border-radius: 1em 0 0 0;
  border-left: 1px solid var(--primary-light);
}

#AddonTable thead tr:first-child th:last-child {
  border-radius: 0 1em 0 0;
  border-right: 1px solid var(--primary-light);
}

#AddonTable tbody tr:last-child td:first-child {
  border-radius: 0 0 0 1em;
}

#AddonTable tbody tr:last-child td:last-child {
  border-radius: 0 0 1em 0;
}


#AddonTable table.table-bordered tbody tr td:first-child {
  border-left: 1px solid var(--primary-light);
}

#AddonTable table.table-bordered tbody tr td:last-child {
  border-right: 1px solid var(--primary-light);
}

#AddonTable table.table-bordered tbody tr:last-child td {
  border-bottom: 1px solid var(--primary-light);
}

#AddonTable .table-bordered tr .label.label-danger {
font-size: 0.8rem;
margin-left: 0px;
}

#AddonTable .table-bordered tr:last-child td.react-bs-table-no-data {
  border-radius: 0 0 1em 1em;
}

#AddonTable tr.selected-addon-row  .label,
#AddonTable tr.selected-addon-row td {
    color: var(--on-primary);
}