/*@import url('SettingsWindow.css');*/
.SettingsWindow {
    color: var(--on-background);
}

.settings-window-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid var(--primary);
}

.settings-window-section-header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top:25px;
}
.settings-section {
    margin-top: 10px; 
}
.settings-item {
    border: 1px solid var(--primary-light);
    border-radius: 3px;
    height: 60px;
    padding-top: 15px;
    background-color: var(--container);
    box-shadow: 0px 0px 2px 1px var(--primary-light);
    margin-bottom: 4px;
}

.SettingsWindow .settings-item-name {
    color: var(--on-background);
    font-size: 0.8rem;
    font-weight: bold;
}

.SettingsWindow .dropdown .btn-primary:focus,
.SettingsWindow .dropdown .btn-primary.dropdown-toggle:focus {
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--on-background);
    background-color: var(--container-light);
    border-color: var(--primary);
    -webkit-box-shadow: 0px 0px 1px 1px var(--primary);
    box-shadow: 0px 0px 1px 1px var(--primary);
}

.SettingsWindow .dropdown-menu {
    color: var(--on-primary);
    background-color: var(--container-light);
    border-color: var(--primary-light);
    -webkit-box-shadow: 0px 0px 1px 1px var(--primary-light);
    box-shadow: 0px 0px 1px 1px var(--primary-light);
}

.SettingsWindow .dropdown-menu .dropdown-item {
    color: var(--on-background);
}

.SettingsWindow .dropdown-menu .dropdown-item:focus {
    color: var(--primary);
    background-color: var(--container);
}

.SettingsWindow .dropdown-menu .dropdown-item:hover {
    color: var(--on-primary);
    background-color: var(--primary-dark);
}

.SettingsWindow .btn.btn-primary {
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--on-background);
    background-color: var(--container-light);
    border-color: var(--primary);
    -webkit-box-shadow: 0px 0px 1px 1px var(--primary);
    box-shadow: 0px 0px 1px 1px var(--primary);
}

.SettingsWindow .btn.btn-primary:active {
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--on-background);
    background-color: var(--container);
    border-color: var(--secondary-dark);
    -webkit-box-shadow: 0px 0px 1px 1px var(--secondary);
    box-shadow: 0px 0px 1px 1px var(--secondary);
    outline: none;
}

.SettingsWindow .btn.btn-primary:active:focus {
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--on-background);
    background-color: var(--container);
    border-color: var(--secondary-dark);
    -webkit-box-shadow: 0px 0px 1px 1px var(--secondary);
    box-shadow: 0px 0px 1px 1px var(--secondary);
    outline: none;
}

.settings-item-config p{ 
  float: left;
}

.SettingsWindow .errorMsg{ 
    float:left;
    margin-left: 20px;
    font-size: 0.8rem;
    color: var(--on-background);
}

.settingsLoading {
    float:right;
    margin-left: 20px;
    font-size: 1.3rem;
    color: var(--secondary);
}

.settings-scrollbar .simplebar-scrollbar {
    background-color: var(--primary);
    width: 8px;
    border-radius: 5px
}

.settings-scrollbar {
    height: calc(100vh - 50px);
    margin-right: 0px;
    padding-bottom: 45px;
    overflow-x: hidden;
}

#select-backup-dir-button {
    max-height: 30px;
    max-width: 350px;
    overflow:hidden;
    text-align: left;
}

.select-install-dir-button {
    max-width: 350px;
    max-height: 30px;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
}


.settings-close-button{
    position: relative;
    float:right;
    margin-top: 5px;
    margin-right: 0px;
    cursor: pointer;
    z-index: 101;
}