.CategoryButton {
    width: 80px;
    margin: 5px;
    cursor: pointer;
}
.category-icon {
    width: 48px;
    height: 48px;
    margin:auto;
    display: block;
}

.cateogry-desc {
    color: white;
    font-weight: bold;
    width: 80px;
    text-align: center;
    font-size: 0.6em;
}