.UpdateAddonButton {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

    .UpdateAddonButton:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

    .UpdateAddonButton:focus {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .UpdateAddonButton.btn-primary:not(:disabled):not(.disabled):active {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        -webkit-box-shadow: 0px 0px 4px 1px var(--secondary-box-shadow-color);
        box-shadow: 0px 0px 4px 1px var(--secondary-box-shadow-color);
    }

.UpdateAddonButton.disabled,
.UpdateAddonButton.disabled:hover {
    cursor: not-allowed;
    color: #E6E8E6;
    background-color: #e6e8e6;
    border: none;
}