.GameWindow {
    background-color: var(--background);
}

.game-banner.col
{
    height: 100px;
    background-color: black;
    width: 100%;
    text-align: center;
}

.game-banner-image {
    height: 100px;
}

.GameWindow .game-window-content {
    height: 100vh;
}

.addon-table-scrollbar .simplebar-scrollbar {
    background-color: var(--primary);
    width: 8px;
    border-radius: 5px;
}

.addon-table .table-bordered,
.addon-table .table-bordered table,
.addon-table .table-bordered thead,
.addon-table .table-bordered tr,
.addon-table .table-bordered th,
.addon-table .table-bordered td {
    border: none;
}

.addon-table .table-bordered {
    margin-bottom: 0;
}

.addon-table th {
    font-size: 0.8rem;
}

.addon-table td {
    font-size: 0.8rem;
}
.no-addons-found-window .btn {
    border: none;
}

.no-addons-found-window .btn:focus {
    outline: none !important;
    box-shadow: none
}

.addon-window-menu {
    margin-top: 5px;
}

.addon-window-menu .btn {
    border: none;
}

.addon-window-menu .btn:focus {
    outline: none !important;
    box-shadow: none;
}