.Header {
    z-index: 50;
    background-color: var(--primary-dark);
    height: 50px;
    width: 100%;
    position: relative;
    overflow: visible;
    box-shadow: 0px 0px 5px 0px var(--primary-dark);
}

.Header .col {
    box-shadow: 0px 0px 5px 0px var(--primary-dark);
}

.frame-menu {
    float:right;
}

.app-icon-button:focus {
  border:none;
  outline:none;
}

.app-icon {
    float:left;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}